<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href='https://fonts.googleapis.com/css?family=Bellefair' rel='stylesheet'>-->
    <title>Consultar certificados</title>
</head>
<body>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="consultar_certificados.html">Certificados <span class="sr-only">(current)</span></a>
                </li>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="gestion_usuarios.html">Gestión Usuarios<span class="sr-only">(current)</span></a>
                        </li>
    </nav>-->
    <br><br>
    <center>
        <div class="container">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header"></div><br />
                    <h2> <div class="" id="tit" align="center">Consultar Certificados</div></h2>
                    <br>
                    <div class="" id="tit" align="center">
                        Ingrese sus datos para consultar certificados
                        <br><br><br>
                        <center>
                            <div class="col-md-6">
                                <div class="form-group" align="left">
                                    <lavel>Tipo de Documento de Identidad</lavel>
                                    <select class="form-control">
                                        <option>C.C</option>
                                        <option>C.E</option>
                                        <option>P.E.P</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" align="left">
                                    <lavel>Número de Documento</lavel>
                                    <input type="number" class="form-control" id="documento" placeholder="Identificación">
                                </div>
                            </div>
                        </center>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>

    </center>
    <br>
    <div class="col-md-12" align="center">
        <button type="button" class="btn btn-primary" id="reg">Regresar</button>
        <button type="button" class="btn btn-primary" id="ConsultarCertificados">Consultar Certificado</button>
    </div>
    <br><br><br>
    <div class="container" id="div_table_certificados" style="display:none;">
        <div class="card">
            <!-- <div class="" id="titulo2">Consultar Certificados -->
            <br>
            <div class="" id="">
                <p style="font-weight:bold; font-size:30px">Datos del Usuario</p>
                <br>
            </div>
            <div>
                <label style="font-weight:bold;">Documento:</label><label id="lbl_documento"></label><br />
                <label style="font-weight:bold;">Nombre:</label><label id="lbl_nombre"></label>
            </div>

            <br><br>
            <div class="" align="center"><p style="font-weight:bold;">Certificados Contractuales</p></div>
            <br>
            <!-- <h5 id="titulo1"> Certificados Contractuales</h5> -->
            <table id="tablacontrato" class="table table-striped table-bordered" style="width:85%" align="center">
                <thead>
                    <tr>
                        <th>Año</th>
                        <th>Contrato</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Convenio</th>
                        <th>Descargar</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <br /><br />
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../js/certificados.js"></script>


